footer{
    background-color:rgba(129, 127, 127, 0.918);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

footer img{
    width: 20%;
}
@media screen and (min-width: 767px){
    footer img{
        width: 50%;
    }
}

@media screen and (min-width: 992px){
    footer img{
        width: 32%;
    }
    .logo-footer{
        width: 16%;
        z-index: 999;
        margin-bottom: -100px;
    }
}

i{
    transition: transform .2s;
    width: 30%;
    color: rgb(90, 89, 89);
}

i:hover{
    transform: scale(0.9);
    color: white;
}

footer img{
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter:grayscale(100%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
		&:hover{
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			filter:grayscale(0%);
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
}

footer img:hover{
    transform: scale(0.9);
}

.div-logo{
    position: absolute;
}

.logo-footer{
    width: 20%;
    z-index: 999;
    filter:grayscale(0%);
}